@use "reset";
@use "typography";

$primary-color: yellow;
$body-font: "Jost";
$body-size: 24px;
$mq-medium: 600px;
$mq-large: 800px;

@mixin drop-shadow($color) {
  /* 10 pixel blur and color is 10% black */
  box-shadow: 0 0 10px $color;
}
/* here, we are adding a media query mixin */
@mixin mq($width) {
  @media(max-width: $width) {
    @content;
  }
}

@mixin center-vertical {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

body {
  background-color: $primary-color;
  color: #ffffff;
  font-family: $body-font;
  font-size: $body-size;
  /* 1.5 times the body font */
  line-height: 1.5;
  height: 100vh;

  @include center-vertical();
}

section {
  width: 500px;

  @include mq($mq-medium) {
    width: 350px;
    font-size: 16px;
  }

  p {
    /* 24px @ the top and 0 everywhere else */
    /* using sass in this way makes our code very modular */
    margin: 24px 0 0 0;
  }
}

.svg {
  fill: #ffffff;
}

.svg:hover {
  fill: red;
}