@custom-media --mq-medium (max-width: 800px);
@custom-media --mq-small (max-width: 550px);

@font-face {
  font-family: Jost;
  font-weight: 900;
  src: url("../fonts/jost-book.woff"), url("../fonts/jost-book.woff2");
}

@font-face {
  font-family: Jost;
  font-weight: 700;
  src: url("../fonts/jost-semi.woff"), url("../fonts/jost-semi.woff2");
}

@font-face {
  font-family: Bagnard;
  src: url("../fonts/bagnard.woff");
}

:root {
  --title-font: Bagnard;
  --body-font: Jost;
  --h1-size: 96px;
  --h2-size: 64px;
  --h3-size: 32px;
  --body-size: 24px;
  --button-size: 16px;
}

@media (--mq-medium) {
  :root {
    --h1-size: 64px;
    --h2-size: 48px;
    --h3-size: 24px;
    --body-size: 16px;
    --button-size: 14px;
  }
}

@media (--mq-small) {
  :root {
    --h1-size: 40px;
    --h2-size: 32px;
  }
}

body {
  font-family: var(--body-font);
  font-size: var(--body-size);
  line-height: 1.5;
}

h1,
h2,
h3 {
  font-family: var(--title-font);
}

h1 {
  font-size: var(--h1-size);
}

h2 {
  font-size: var(--h2-size);
}

h3 {
  font-size: var(--h3-size);
}

.button {
  font-size: var(--button-size);
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
}
